[Desktop Entry]
Version=1.0
Type=Application
Name=MyApps
GenericName=Paketmanager-Übersicht
Comment=Installierte Anwendungen anzeigen und verwalten
Exec=myapps
Icon=myapps
Terminal=false
Categories=System;PackageManager;
Keywords=package;apps;software;installer;
StartupNotify=true
